{% extends "base/company_basic.html" %}
{% load staticfiles %}
{% load bootstrap_pagination %}



{% block content %}

<!--
{% block title %}  {% endblock %}
-->

<!-- Page Content -->
<div class="container">



	<!-- Company's profile image, and information -->
	<div class='row'>

		<div class='col-sm-8'>

			
			<div class='col-sm-2'>
			{% if profile.picture %}
			<img src='{{ profile.picture.url }}' width='100px' height='100px' class='img-responsive'/>
			{% else %}
			<img src='{% static "img/profile_default.png" %}' width='100px' height='100px' class='img-responsive' />
			{% endif %}
			</div>

			<div class='col-sm-1'>
			<h3>{{ profile.user }}</h3>
			<br>
			<!--
			{% if profile.industry %}
			<h4>{{ profile.industry }}</h4>
			{% endif %}-->
			</div>
			<!--
			{% if not request.user == profile.user %}			
			{% else %}
			{% endif %}
			-->
			<span class="pull-right">
			<a type="button" href="{% url 'profile_edit' %}" class="btn btn-default">Edit Profile</a>
			</span>
			
		</div>



		<div class='col-sm-4'>
			<span class="pull-right">
                    <a href="{% url 'post_project' username=request.user %}"><button type="button" class="btn btn-primary btn-lg">Post a Project</button></a>
            </span>
		</div>

	</div>



	<hr>




	<!-- Company's information about what they do -->
	<div class='row'>

		<div class='col-sm-8'>


			<h3>About {{ profile.user }} ...</h3>

			<br>

			<p class='lead'>
				{% if profile.overview %}
				{{ profile.overview }}
				{% endif %}
			</p>
	
		</div>

		<div class='col-sm-4'>
		</div>


	</div>


	<hr>




	<!-- Company's projects that they have posted -->
	<div class='row'>
		
			<!--
			{% for post in posts %}
			<div class='col-sm-3'>
				<div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <p class="pull-right">{{ post.user_company }}</p>
                        <small><a href="{% url 'portfolio_detail' username=request.user slug=post.slug %}">{{ post.project_title }}</a>
                        </small>
                    
                    	<br>
                        <br>
                        <br>
                        <p class="pull-right">{{ post.end_date|timeuntil }} left</p>
                        <p>
                            <span class="pull-left">{{ post.job_type }}</span>
                        </p>
                    </div>
                </div>
            </div>
			{% endfor %}
		-->

		{% for post in posts %}
            <div class="col-sm-4 col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">

                            <span class="text-center">
                                <h4>{{ post.position_name }}</h4>
                            </span>
                                                        
                    </div>

                    <div class="panel-body">
                        <p><a href="{% url 'portfolio_detail' username=request.user slug=post.slug %}">{{ post.project_title }}</a></p>
                        <br>
                        {% if post.job_type == 'Internship' %}
                        <p><a class="btn btn-info" role="button">{{ post.job_type }}</a> <a href="#" class="btn btn-default" role="button">{{ post.date_end|timeuntil }} left</a></p>
                        {% else %}
                        <p><a class="btn btn-warning" role="button">{{ post.job_type }}</a> <a href="#" class="btn btn-default" role="button">{{ post.date_end|timeuntil }} left</a></p>
                        {% endif %}
                        
                    </div>

                </div>
            </div>
        {% endfor %}  
		
	</div>


</div>
<!-- /.container -->

{% endblock %}