{% extends "base/basic.html" %}
{% load crispy_forms_tags %}


{% block title %}Sign Up - Panoplyy {% endblock %}

{% block content %}


<div class="text-center">
<h2>Find your dream job with your skills</h2>
</div>

<div class="col-sm-4 col-sm-offset-4">


<br>


<form method='POST' action='{{ action_value }}'>{% csrf_token %}
{{ form|crispy }}

<input class='btn btn-default' type='submit' value='{{ submit_btn_value }}'/>
</form>

<br>

<p>By registering you agree to the Panoplyy Terms of Service and Privacy Policy.</p>


</div>



{% endblock %}